:root {
    --heading-text-color: #2E2F42;
    --primary-text-color: #434455;
    --hero-title-color: #FFFFFF;
    --hover-focus-color: #4D5AE5;
    --footer-logo-color: #F4F4FD;
    --footer-text: #E7E9FC;
    --button-backgrnd-color-accent: #404BBF;

}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* header logo */
.header-logo {
    color: var(--heading-text-color); 

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.header-logo span {
    color: var(--hover-focus-color);
    
}
.header-logo:hover,
.header-logo:focus {
    color: var(--hover-focus-color);
}


/* Site nav */
.site-nav .link {
    color: var(--heading-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--hover-focus-color);
}

.site-nav .link.current {
    color: var(--hover-focus-color);
}


/* contacts */
.contacts {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: var(--hover-focus-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid tomato; */
}


/* Hero */
.hero {
    text-align: center;
    background-color: var(--primary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;
    width: 494px;

    color: var(--hero-title-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

}

/* Hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Section */
.section {
   /* background-color: aqua; */
   padding-top: 120px;
   padding-bottom: 120px;
}

.section.padding-bottom {
    padding-top: 0;
    padding-bottom: 120px;
}



.section-title {
    color: var(--heading-text-color);
  
    font-style: 400;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;

    margin-top: 0;
    margin-bottom: 72px;

}


/* Features and Team */
.features {

}

.features .title,
.team-title {
    color: var(--heading-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 8px;
}

.features p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Team backgrnd */
.section.team {
    background-color: var(--footer-logo-color);
}

/* Team photo margine */
.team img {
    margin-bottom: 32px;
}

.team p {
    margin-top: 0;
    margin-bottom: 0;
}


/* Buttons */
.button {
    color: var(--hero-title-color);
    background-color: var(--hover-focus-color);
    cursor: pointer;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border-radius: 4px;
    display: inline-block;
    text-align: center;
}
.button.filters {
    color: var(--hover-focus-color);
    background-color: var(--footer-logo-color);

    padding: 12px 24px;
    border: 1px solid var(--footer-text);
}
.button.filters:hover,
.button.filters:focus {
    color: var(--hero-title-color);
    background-color: var(--button-backgrnd-color-accent);
}

.button.hero {
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buttons-potfolio {
    margin-bottom: 72px;
}


/* Footer */
.footer-logo {
    color: var(--footer-logo-color);

    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-logo span {
    color: var(--hover-focus-color);
}
.footer p {
    color: var(--footer-text);

    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--heading-text-color);
}

.footer-content {
    width: 264px;
}
.footer-content a {
    display: inline-block;
    margin-bottom: 16px;
}


/* Styles for portfolio */
.portfolio-title {
    color: var(--heading-text-color);
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    margin-top: 32px;
    margin-bottom: 8px;


}
.portfolio p {
    color: var(--primary-text-color);

    font-family: 'Roboto';

    margin-top: 0;
    margin-bottom: 32px;
}
.portfolio .link:hover,
.portfolio .link:focus {
    color: var(--hover-focus-color);
 }

 .portfolio.link {
 }

 .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
 }

 .link {
    text-decoration: none;
 }